<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
      {% endblock %} - BibliotecaApp
    </title>
    {% load static %}
    {% load group_check %}
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
  </head>

  <body>
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="/">BibliotecApp</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li>
              <a class="active" href="/">Inicio</a>
            </li>
            <li>
              <a href="{% url 'lista-libros' %}">Listado de Libros</a>
            </li>
            {% if not user.is_authenticated %}
              <li>
                <a href="{% url 'signup' %}">Registrarse</a>
              </li>
              <li>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
              </li>
            {% else %}
              <li class="dropdown">
                <a href="#"><span>Hola {{ user.username }}</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li>
                    <a href="{% url 'mis-prestamos' %}">Mis prestamos</a>
                  </li>
                  {% if user|has_group:'Bibliotecario' %}
                    <li class="dropdown">
                      <a href="#"><span>Dashboard</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li>
                          <a href="{% url 'historial' %}">Historial de Acciones</a>
                        </li>
                        <li>
                          <a href="{% url 'add-libro' %}">Añadir libro</a>
                        </li>
                        <li>
                          <a href="{% url 'add-categoria' %}">Añadir categoria</a>
                        </li>
                        <li>
                          <a href="{% url 'add-autor' %}">Añadir autor</a>
                        </li>
                        <li>
                          <a href="{% url 'add-editorial' %}">Añadir editorial</a>
                        </li>
                        <li>
                          <a href="{% url 'prestamos' %}">Todos los prestamos</a>
                        </li>
                      </ul>
                    </li>
                  {% endif %}
                  <li>
                    <a href="#" class="logout">Cerrar Sesión</a>
                  </li>
                </ul>
              </li>
            {% endif %}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>

    <main>
      {% block content %}
        <!-- El contenido específico de la página reemplazará este bloque -->
      {% endblock %}
    </main>

    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-6 footer-contact">
              <h3>BibliotecApp</h3>
              <p>
                Av. San Juan #5772<br />
                Machalí, Ohiggins<br />
                Chile <br /><br />
                <strong>Celular:</strong> +56 2 2997 9230 - +56 2 2997 9732<br />
                <strong>Email:</strong> bibliotecapp.contacto@bibliotecapp.cl<br />
              </p>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Nuestros Vinculos</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/">Inicio</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/">Sobre Nosotros</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/">Servicios</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/">Terminos del Servicio</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/">Política de Privacidad</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Sitios Relacionados</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="https://www.bibliotecaspublicas.gob.cl" target="_blank">Sistema Nacional de Bibliotecas Públicas</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="https://www.bibliotecaspublicas.gob.cl" target="_blank">Biblioteca Pública Digital</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="https://www.bibliomoviles.gob.cl" target="_blank">Bibliomóviles</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="https://bibliometro.cl" target="_blank">Programa Bibliometro</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; <strong><span>BibliotecApp</span></strong>. Todos los derechos reservados.
          </div>
          <div class="credits">Desarrollado por Geovanni Molina y Sergio Madriaga</div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      // Saltar SweetAlert antes de cerra sesión
      const logout = document.querySelector('.logout')
      logout.addEventListener('click', (e) => {
        e.preventDefault()
        Swal.fire({
          title: '¿Estás seguro?',
          text: '¿Quieres cerrar sesión?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          cancelButtonText: 'Cancelar',
          confirmButtonText: 'Cerrar Sesión'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "{% url 'logout' %}"
          }
        })
      })
    </script>
    {% if info %}
      <script>
        // Mostrar SweetAlert Toast con mensaje de éxito
        Swal.fire({
          icon: 'success',
          title: '{{ mensaje }}',
          toast: true,
          position: 'top-end',
          padding: '1rem',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true
        })
      </script>
    {% endif %}
    {% if group_error or error %}
    <script>
      // Mostrar SweetAlert Toast con mensaje de éxito
      Swal.fire({
        icon: 'error',
        title: '{{ group_error }}',
        toast: true,
        position: 'top-end',
        padding: '1rem',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true
      })
    </script>
  {% endif %}
  </body>
</html>
