<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - BibliotecaApp</title>
    <!-- TODO: Incluir CSS común, favicon, etc. -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}

    <footer>
        <p>Desarrollado por Geovanni Molina y Sergio Madriaga</p>
    </footer>
</body>
</html>