{% extends 'base.html' %}
{% block title %}Prestamo{% endblock %}
{% block content %}
<section>
    <div class="container tm-pt-60">
        <div class="section-title">
            <h2>Administración</h2>
            <p>{% if libro %}Actualizar Categoria{% else %}Nueva Categoria{% endif %}</p>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Guardar" class="btn btn-primary">
            <button onclick="window.history.back();" class="btn btn-danger">Cancelar</button>
        </form>
    </div>
</section>
{% endblock %}