{% extends 'base.html' %} {% block title %}Inicio de Sesión{% endblock %}
{% block content %}

<section>
    <div class="container">
        <div class="section-title tm-pt-60">
            <h2>BibliotecApp</h2>
            <p>Inicia Sesión</p>
          </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <div class="d-flex flex-column mt-3">
            <p>¿No tienes una cuenta? <a href="{% url 'signup' %}">Regístrate aquí</a></p>
            <p><a href="">¿Olvidaste tu contraseña?</a></p>
        </div>
    </div>
</section>

{% endblock %}